html {
  --color1: black;
  --color2: aqua;
  --color3: #303030;
  --color4: gray;
  --color5: rgba(89, 167, 255);
  font-size: 1.25vmin;
}
html head,
html body {
  margin: 0;
}
html head div#root div.App,
html body div#root div.App {
  text-align: center;
  background: var(--color1);
  color: white;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  position: relative;
}
html head div#root div.App .clickable:hover,
html body div#root div.App .clickable:hover {
  cursor: pointer;
}
html head div#root div.App div#homepage div.home_wrapper,
html body div#root div.App div#homepage div.home_wrapper {
  width: 100%;
}
html head div#root div.App div#homepage div.home_wrapper h1,
html body div#root div.App div#homepage div.home_wrapper h1 {
  position: relative;
  color: var(--color2);
}
html head div#root div.App div#homepage div.home_wrapper h1 p img,
html body div#root div.App div#homepage div.home_wrapper h1 p img {
  width: 40vmin;
  height: auto;
  max-width: 1000px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 5em var(--color2);
  filter: brightness(0.5);
}
html head div#root div.App div#homepage div.home_wrapper h1 p strong,
html body div#root div.App div#homepage div.home_wrapper h1 p strong {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
  background-color: black;
  line-height: 50%;
  transform: translateY(50%);
  font-size: 10vmin;
}
html head div#root div.App div#homepage div.home_wrapper div input.home,
html body div#root div.App div#homepage div.home_wrapper div input.home {
  background-color: var(--color2);
  font-weight: 900;
  border: 0.5em ridge var(--color3);
  box-shadow: inset 0 0 1.5em var(--color1), 0 0 1em var(--color5);
  padding: 0.75em 1.5em;
  width: 50vmin;
  height: 5vmin;
  font-size: 5vmin;
  display: block;
  margin: 2em auto;
  color: var(--color1);
}
html head div#root div.App div#homepage div.home_wrapper div a button.home,
html body div#root div.App div#homepage div.home_wrapper div a button.home {
  background-color: var(--color5);
  color: var(--color2);
  width: fit-content;
  font-size: 5vmin;
  padding: 1rem;
  box-shadow: inset 0 0 15rem var(--color1), 0 0 3rem var(--color5);
  border: 2rem double var(--color3);
  border-radius: 10rem;
}
html head div#root div.App div#homepage div.home_wrapper div a button.home:hover,
html body div#root div.App div#homepage div.home_wrapper div a button.home:hover {
  cursor: pointer;
}
html head div#root div.App div#view .home,
html body div#root div.App div#view .home {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 9999;
}
html head div#root div.App div#view .home:hover,
html body div#root div.App div#view .home:hover {
  cursor: pointer;
}
html head div#root div.App div#view h1.error,
html body div#root div.App div#view h1.error {
  text-align: center;
  top: 5vh;
  font-size: 2.5vh;
}
html head div#root div.App div#view div.heading h1,
html body div#root div.App div#view div.heading h1 {
  position: relative;
}
html head div#root div.App div#view div.heading h1 p,
html body div#root div.App div#view div.heading h1 p {
  margin: 0;
}
html head div#root div.App div#view div.heading h1 p img,
html body div#root div.App div#view div.heading h1 p img {
  height: 7.5rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 2rem var(--color2);
  filter: brightness(0.65);
  margin: 0;
}
html head div#root div.App div#view div.heading h1 p strong,
html body div#root div.App div#view div.heading h1 p strong {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
  line-height: 0;
  color: var(--color2);
  font-size: 2.5rem;
}
html head div#root div.App div#view div.heading div.navbar,
html body div#root div.App div#view div.heading div.navbar {
  display: inline-flex;
  justify-content: center;
  background-color: var(--color3);
  box-shadow: inset 0 0 1rem var(--color1), 0 0 0.5rem var(--color5);
  border-radius: 1rem;
}
html head div#root div.App div#view div.heading div.navbar button,
html body div#root div.App div#view div.heading div.navbar button {
  font-size: 2rem;
  background-color: transparent;
  color: var(--color4);
  text-shadow: 0 0 0.25rem var(--color1);
  border: 0.75rem ridge transparent;
}
html head div#root div.App div#view div.heading div.navbar button:hover,
html body div#root div.App div#view div.heading div.navbar button:hover {
  cursor: pointer;
}
html head div#root div.App div#view div.heading div.navbar button.active,
html body div#root div.App div#view div.heading div.navbar button.active {
  border: 0.75rem ridge var(--color5);
  color: var(--color2);
  background-color: var(--color3);
  filter: contrast(2);
}
html head div#root div.App div#view div.heading div.switch_wrapper,
html body div#root div.App div#view div.heading div.switch_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
html head div#root div.App div#view div.heading div.switch_wrapper div.switch,
html body div#root div.App div#view div.heading div.switch_wrapper div.switch {
  margin: 1rem;
  background-color: var(--color3);
  width: fit-content;
  box-shadow: inset 0 0 1rem var(--color1), 0 0 0.5rem var(--color5);
  border-radius: 1rem;
}
html head div#root div.App div#view div.heading div.switch_wrapper div.switch button,
html body div#root div.App div#view div.heading div.switch_wrapper div.switch button {
  background-color: transparent;
  color: var(--color4);
  text-shadow: 0 0 0.25rem var(--color1);
  border: 0.75rem ridge transparent;
  font-weight: 900;
  font-size: 1.5rem;
}
html head div#root div.App div#view div.heading div.switch_wrapper div.switch button:hover,
html body div#root div.App div#view div.heading div.switch_wrapper div.switch button:hover {
  cursor: pointer;
}
html head div#root div.App div#view div.heading div.switch_wrapper div.switch button.active,
html body div#root div.App div#view div.heading div.switch_wrapper div.switch button.active {
  background-color: var(--color3);
  color: var(--color2);
  border: 0.75rem groove var(--color5);
  filter: contrast(2);
}
html head div#root div.App div#view div.summary,
html body div#root div.App div#view div.summary {
  width: fit-content;
  margin: auto;
}
html head div#root div.App div#view div.summary table,
html body div#root div.App div#view div.summary table {
  border-spacing: 0;
  border: 0.75rem ridge var(--color5);
  filter: contrast(2);
  margin: 1rem;
}
html head div#root div.App div#view div.summary table tbody tr th,
html head div#root div.App div#view div.summary table tbody tr td,
html body div#root div.App div#view div.summary table tbody tr th,
html body div#root div.App div#view div.summary table tbody tr td {
  border: 0.5rem groove var(--color4);
  background-color: var(--color2);
  padding: 0.5rem;
  font-size: 2rem;
}
html head div#root div.App div#view div.summary table tbody tr th,
html body div#root div.App div#view div.summary table tbody tr th {
  background: var(--color4);
  color: var(--color5);
  font-weight: 900;
  text-shadow: 0 0 0.25rem var(--color1);
}
html head div#root div.App div#view div.summary table tbody tr td,
html body div#root div.App div#view div.summary table tbody tr td {
  background-color: var(--color3);
  color: var(--color2);
}
html head div#root div.App div#view div.summary table tbody tr td.bold,
html body div#root div.App div#view div.summary table tbody tr td.bold {
  font-weight: 700;
  box-shadow: inset 0 0 3.5em var(--color1);
  padding: 0.25em;
}
html head div#root div.App div#view input,
html body div#root div.App div#view input {
  background-color: var(--color2);
  font-weight: 900;
  border: 1rem ridge var(--color4);
  box-shadow: inset 0 0 1.5em var(--color1), 0 0 1.5rem var(--color1);
  padding: 0.25rem 1rem;
  font-size: 2rem;
  display: inline-block;
  margin: auto;
  color: var(--color1);
  position: relative;
  z-index: 10;
}
html head div#root div.App div#view button,
html body div#root div.App div#view button {
  font-size: 2rem;
  background-color: var(--color5);
  color: var(--color2);
  width: fit-content;
}
html head div#root div.App div#view button:hover,
html body div#root div.App div#view button:hover {
  cursor: pointer;
}
html head div#root div.App div#view button.clear,
html body div#root div.App div#view button.clear {
  background-color: var(--color3);
  border: 1rem ridge var(--color4);
  position: relative;
  z-index: 10;
  padding: 0.25rem;
  box-shadow: 0 0 1.5rem var(--color1);
}
html head div#root div.App div#view button.toggle_starters,
html body div#root div.App div#view button.toggle_starters {
  background-color: var(--color3);
  margin: 0 1rem;
  border: 0.75rem ridge var(--color3);
  color: var(--color4);
  font-weight: 900;
}
html head div#root div.App div#view button.active_toggle_starters,
html body div#root div.App div#view button.active_toggle_starters {
  background-color: var(--color3);
  margin: 0 1rem;
  border: 0.75rem ridge var(--color5);
  color: var(--color2);
  font-weight: 900;
  filter: contrast(2);
}
html head div#root div.App div#view ol.page_numbers,
html body div#root div.App div#view ol.page_numbers {
  list-style: none;
  display: flex;
  width: 75%;
  max-width: 1200px;
  overflow-x: scroll;
  margin: auto;
  font-size: 1.5rem;
}
html head div#root div.App div#view ol.page_numbers li,
html body div#root div.App div#view ol.page_numbers li {
  margin: 1rem;
  padding: 0.5rem;
  border: 0.5rem ridge var(--color3);
}
html head div#root div.App div#view ol.page_numbers li.active,
html body div#root div.App div#view ol.page_numbers li.active {
  color: var(--color2);
  padding: 0.5rem;
  border: 0.5rem ridge var(--color2);
}
html head div#root div.App div#view div.scrollable,
html body div#root div.App div#view div.scrollable {
  display: block;
  overflow: scroll;
  height: fit-content;
  max-height: 80vh;
  width: 95%;
  max-width: 1200px;
  position: relative;
  border: 0.75rem ridge var(--color5);
  margin: auto;
}
html head div#root div.App div#view div.scrollable table.main,
html body div#root div.App div#view div.scrollable table.main {
  table-layout: fixed;
  margin: auto;
  width: 100%;
  font-size: 2rem;
  border-spacing: 0;
  /*
    table.secondary {
      table-layout: fixed;
      width: 100%;
      border: .25rem solid var(--color2);
      border-top: none;
      margin: auto;
      border-collapse: collapse;
      color: var(--color2);

      tr.secondary_header {
        position: sticky;
        top: 13rem;
        z-index: 1;
        outline: .25rem solid var(--color2);

      }

      th {
        background-color: navy;
        color: inherit;
      }

      tbody.secondary_content {
        tr {
          td {
            background-color: var(--color5);
            color: var(--color1);
            font-weight: 600;
            filter: brightness(.75);
          }

          &:nth-child(odd) {
            filter: brightness(0.75)
          }

          td.image_secondary {
            &:hover {
              strong {
                color: purple;
                max-width: unset;
                overflow: visible;
              }
            }

            span {
              background-color: inherit;
              display: block;
              margin: 0;
              padding: 0;

              img {
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
                object-fit: cover;
                box-shadow: 0 0 .75rem var(--color2);
                margin: .5em;
              }

              strong {
                white-space: nowrap;
                font-size: 1.5rem;
                text-overflow: ellipsis;

                width: 15rem;
              }
            }

          }

        }
      }
    }
  */
}
html head div#root div.App div#view div.scrollable table.main td.image:hover strong,
html body div#root div.App div#view div.scrollable table.main td.image:hover strong {
  overflow: visible;
  max-width: unset;
  color: var(--color2);
  background-color: black;
  padding: 0.25rem;
}
html head div#root div.App div#view div.scrollable table.main td.image span,
html body div#root div.App div#view div.scrollable table.main td.image span {
  background-color: inherit;
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}
html head div#root div.App div#view div.scrollable table.main td.image span img,
html body div#root div.App div#view div.scrollable table.main td.image span img {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 1rem var(--color2);
  margin: 0.5rem;
  filter: contrast(2);
}
html head div#root div.App div#view div.scrollable table.main td.image span strong,
html body div#root div.App div#view div.scrollable table.main td.image span strong {
  position: absolute;
  top: 0;
  left: 1rem;
  right: 1rem;
  bottom: 0;
  margin: auto;
  height: fit-content;
  width: fit-content;
  max-width: 95%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.5rem;
  background-color: var(--color3);
}
html head div#root div.App div#view div.scrollable table.main th.small,
html body div#root div.App div#view div.scrollable table.main th.small {
  font-size: 75%;
}
html head div#root div.App div#view div.scrollable table.main .main_header,
html body div#root div.App div#view div.scrollable table.main .main_header {
  background-color: var(--color4);
  position: sticky;
  top: 0;
  z-index: 2;
  color: var(--color1);
  text-shadow: 0 0 0.25rem var(--color5);
  height: 5rem;
}
html head div#root div.App div#view div.scrollable table.main tr.main_row,
html body div#root div.App div#view div.scrollable table.main tr.main_row {
  background-color: var(--color3);
}
html head div#root div.App div#view div.scrollable table.main tr.main_row:nth-child(odd),
html body div#root div.App div#view div.scrollable table.main tr.main_row:nth-child(odd) {
  filter: invert(0.1);
}
html head div#root div.App div#view div.scrollable table.main table.content,
html body div#root div.App div#view div.scrollable table.main table.content {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
html head div#root div.App div#view div.scrollable table.main table.content tr:hover,
html body div#root div.App div#view div.scrollable table.main table.content tr:hover {
  cursor: pointer;
}
html head div#root div.App div#view div.scrollable table.main tr.active table.content,
html body div#root div.App div#view div.scrollable table.main tr.active table.content {
  color: var(--color2);
  border: 0.25rem ridge var(--color2);
  position: sticky;
  z-index: 1;
  top: 5rem;
}
html head div#root div.App div#view div.scrollable table.main tr.active table.content tr:nth-child(odd) td,
html body div#root div.App div#view div.scrollable table.main tr.active table.content tr:nth-child(odd) td {
  background-color: navy;
}
html head div#root div.App div#view div.scrollable table.main table.secondary,
html body div#root div.App div#view div.scrollable table.main table.secondary {
  table-layout: fixed;
  width: 100%;
  border: 0.25rem solid var(--color2);
  border-top: none;
  border-spacing: 0;
}
html head div#root div.App div#view div.scrollable table.main table.secondary tr.secondary_header,
html body div#root div.App div#view div.scrollable table.main table.secondary tr.secondary_header {
  position: sticky;
  top: 13rem;
  z-index: 1;
  outline: 0.25rem solid var(--color2);
  background-color: navy;
  color: var(--color2);
}
html head div#root div.App div#view div.scrollable table.main table.secondary tbody.secondary_content tr,
html body div#root div.App div#view div.scrollable table.main table.secondary tbody.secondary_content tr {
  background-color: var(--color2);
  color: black;
  font-weight: 600;
}
html head div#root div.App div#view div.scrollable table.main table.secondary tbody.secondary_content tr:nth-child(odd),
html body div#root div.App div#view div.scrollable table.main table.secondary tbody.secondary_content tr:nth-child(odd) {
  background-color: var(--color5);
}
html head div#root div.App div#view div.scrollable table.main table.secondary tbody.secondary_content tr td.image_secondary,
html body div#root div.App div#view div.scrollable table.main table.secondary tbody.secondary_content tr td.image_secondary {
  padding: 0 1rem;
  background-color: inherit;
}
html head div#root div.App div#view div.scrollable table.main table.secondary tbody.secondary_content tr td.image_secondary:hover span strong,
html body div#root div.App div#view div.scrollable table.main table.secondary tbody.secondary_content tr td.image_secondary:hover span strong {
  color: var(--color2);
  filter: brightness(2);
  overflow: visible;
  max-width: unset;
}
html head div#root div.App div#view div.scrollable table.main table.secondary tbody.secondary_content tr td.image_secondary span,
html body div#root div.App div#view div.scrollable table.main table.secondary tbody.secondary_content tr td.image_secondary span {
  display: block;
  position: relative;
  background-color: inherit;
}
html head div#root div.App div#view div.scrollable table.main table.secondary tbody.secondary_content tr td.image_secondary span img,
html body div#root div.App div#view div.scrollable table.main table.secondary tbody.secondary_content tr td.image_secondary span img {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 2rem var(--color1);
  margin: 0.5rem;
  filter: contrast(2);
}
html head div#root div.App div#view div.scrollable table.main table.secondary tbody.secondary_content tr td.image_secondary span strong,
html body div#root div.App div#view div.scrollable table.main table.secondary tbody.secondary_content tr td.image_secondary span strong {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 95%;
  white-space: nowrap;
  font-size: 1.5rem;
  background-color: inherit;
  width: fit-content;
}

/*# sourceMappingURL=App.css.map */
